.teams {
  display: flex;
  flex-direction: row;
  gap: 60px;
  max-width: 60vw;
  overflow: auto;
  scrollbar-width: none;
}

.team {
  color: rgb(131, 129, 229);
  font-size: 20px;
  font-weight: bold;
  width: auto;
  //   max-width: 150;
}

.active {
  color: white;
}
