.main {
  min-height: 100vh;
  background-color: rgb(16, 14, 73);
  padding: 20px;
  margin-top: 2px;
}

.player-data {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}

.player_side_bar {
  width: 350;
}

.player_tab {
  width: 700px;
}

.player-matches {
  width: 200px;
}
