.player-data-image {
  display: flex;
  flex-direction: column;
  background-color: #35e578;
  width: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #000000;
}
