.nav-bar {
  min-height: 40px;
  width: 100vw;
  background-color: rgb(101, 169, 237);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 20px;
}

.item {
  font-size: larger;
  font-weight: bold;
}

.active {
  color: rgb(237, 237, 11);
}

.inactive {
  color: black;
}
