.players {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;

  .player-card {
    background: #181038;
    // padding: 1rem;
    border-radius: 10px;
    width: 180px;
    text-align: center;

    img {
      width: 50%;
      border-radius: 50%;
      // margin-bottom: 0.5rem;
    }

    .name {
      font-weight: bold;
      color: #fff;
    }

    .team-position {
      color: #aaa;
      font-size: 12px;
      // margin-bottom: 0.5rem;
    }

    .points {
      font-size: 15px;
      color: #aaa;
    }
  }
}
