<div class="table">
  <div *ngIf="players?.length <= 0" class="no-players">
    There are no players for the current combination
  </div>
  <div class="table-wrapper">
    <table *ngIf="players && players.length > 0">
      <thead class="table-header">
        <tr
          class="headings"
          cdkDropList
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="drop($event)"
        >
          <th
            class="heading-cell"
            *ngFor="let col of columns"
            cdkDrag
            [cdkDragStartDelay]="1000"
            [ngClass]="{ 'name-cell': col.key === 'name' }"
            (click)="sortByParameter($event, col.key)"
          >
            {{ col.label }}
          </th>
        </tr>
      </thead>

      <tbody class="list">
        <tr
          *ngFor="let player of players; let even = even"
          [ngClass]="even ? 'even' : 'odd'"
          (click)="goToPlayerPage($event, player)"
        >
          <td
            class="body-cell"
            *ngFor="let col of columns"
            [ngClass]="{
              'name-cell': col.key === 'name',
              even: even,
              odd: !even
            }"
          >
            <ng-container *ngIf="col.key === 'name'; else normalCell">
              <div>{{ player?.first_name }} {{ player?.second_name }}</div>
              <div class="subtext">
                {{ teamsService.getTeamShortName(player.team) }} -
                {{ player.element_type | codeToPosition : "short" }}
              </div>
            </ng-container>
            <ng-template #normalCell>
              {{ col.key === "price" ? player.now_cost / 10 : player[col.key] }}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
